apiVersion: v1
kind: Secret
metadata:
  name: airflow-secrets
  namespace: airflow
type: Opaque
# Copie ce fichier en 02-secret.yaml et remplis les valeurs
# Ne jamais committer 02-secret.yaml (il est dans .gitignore)
stringData:
  AIRFLOW__CORE__FERNET_KEY: ""
  AIRFLOW__API_AUTH__JWT_SECRET: ""
  SLACK_WEBHOOK_URL: ""
  AIRFLOW__SMTP__SMTP_PASSWORD: ""
